/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 14, 2024, 9:51:30 PM
    Author     : jh
*/

.buscarCita{
    width: 100%;
    display: flex;
    justify-content: start;
}