/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 19, 2024, 7:43:46 PM
    Author     : jh
*/

:root {
  --color-primary: #5397E0;
  --color-primary-light: #7EBCFF;
  --color-primary-dark: #7EBCFF;
  --color-black: #2B2A2A;
  --color-black-ligth: #5C5757;
  --color-secondary: #64748b;
  --color-background: #f1f5f9;
  --color-surface: #ffffff;
  --color-text: #1e293b;
  --color-text-light: #64748b;
  --color-danger: #ef4444;
  --color-danger-ligth: #F1627B;
  --color-success: #22c55e;
  --font-family: 'Arial', sans-serif;
  --transition-speed: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
}

.container {
  display: flex;
  min-height: 100vh;
}


/*button-blue*/
.button-blue {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.button-blue{
  background-color: var(--color-primary-light);
  color: var(--color-surface);
}

.button-blue:hover {
  background-color: var(--color-primary);
}

/*button-red*/
.button-red {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.button-red{
  background-color: var(--color-danger-ligth);
  color: var(--color-surface);
}

.button-red:hover {
  background-color: var(--color-danger);
}

/*button-black*/
.button-black {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.button-black{
  background-color: var(--color-black-ligth);
  color: var(--color-surface);
}

.button-black:hover {
  background-color: var(--color-black);
}

/* Main content styles */
.main-content {
  flex-grow: 1;
  padding: 2rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info p {
  margin-right: 1rem;
}

.dashboard {
  background-color: var(--color-surface);
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 680px;
  overflow: auto;
}

.banner {
  margin-bottom: 2rem;
}

.banner__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.banner__title {
  font-size: 1.5rem;
  color: var(--color-primary);
}

.banner__button {
  background-color: var(--color-primary-light);
  color: var(--color-surface);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.banner__button:hover {
  background-color: var(--color-primary);
}

.banner__line {
  height: 2px;
  background-color: var(--color-primary-light);
}

/* Responsive design */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 1rem;
  }

  .main-content {
    padding: 1rem;
  }

  .banner__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .banner__button {
    margin-top: 1rem;
  }

  .search-form {
    flex-direction: column;
  }

  .table {
    font-size: 0.9rem;
  }

  .table__button {
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
  }
}