/* Estilos del contenedor del modulo */

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.moduleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}


.blue-line {
    border: none;
    height: 4px;
    background-color: blue;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}


.g-banner-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 100vw;
    padding: 0;
    margin-top: 55px;
    background-color: #f8f8f8;
}

.g-banner-labelbutton-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.btn-newuser {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-newuser:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
.label-banner {
    font-size: 35px;
    font-weight: bold;
    color: #333;
    margin-right: 15px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 15 40px;
    box-sizing: border-box;
}

.search-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.search-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.search-form button:hover {
    background-color: #0056b3;
}


/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table thead th {
    background-color: #282a2c;
    color: #fff;
    padding: 12px;
    text-align: left;
    font-size: 16px;
    border-bottom: 2px solid #0056b3;
}

.table tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

#tabla-pacientes tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo para los botones de acción */
.btn-edit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.btn-edit:hover {
    background-color: #0056b3;
}

.btn-delete {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.btn-delete:hover {
    background-color: #c0392b;
}

/* Estilo para el formulario de edición */
.edit-form {
    display: none;
}

.edit-form form {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.edit-form label {
    margin: 5px 0;
}

.edit-form input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* estilos boton editar form create */

.edit-form button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-form button:hover {
    background-color: #218838;
}

/* Estilos form crear nuevo usuario */

.create-form {
    display: none;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
}

.create-form form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.create-form label {
    margin: 5px 0;
}

.create-form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos botones de crear user */

.create-form button {
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.create-form-save-button {
    background-color: #28a745;
}

.create-form-edit-button {
    background-color: #007BFF;
}

.create-form button:hover {
    background-color: #282A2C;
}
