/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 20, 2024, 1:24:14 PM
    Author     : jh
*/

.search-form {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.search-form input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid var(--color-secondary);
  border-radius: 0.25rem;
}

